---
import type { MarkdownLayoutProps } from 'astro';
import Main from './Main.astro';

type Props = MarkdownLayoutProps<{
    title: string;
    poster: string;
    subtitle: string;
}>

const {poster, title, subtitle} = Astro.props.frontmatter;
---

<Main title={title}>
    <figure class="figure">
        <img
          src={poster}
          alt=""
          width="100%"
          height="480px"
          class="figure__image"
        />
        <figcaption class="figure__caption">
          Poster image for {title.toLowerCase()}
        </figcaption>
      </figure>
    
      <h1>{title}</h1>
      <h2>{subtitle}</h2>
    
      <slot />
</Main>

<style>
    h1 + h2 {
      margin-bottom: 3rem;
    }
  
    .figure {
      margin: 0;
    }
  
    .figure__image {
      max-width: 100%;
      border-radius: 10px;
    }
  
    .figure__caption {
      font-size: 0.9rem;
    }
  </style>